body {
    background: url("../images/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-color: #cccccc;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.login{
    color: white;
    float: right;
}
.singup{
    color: black;
}

form {
    width: 500px;
    border: 2px solid #ccc;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
}

.text-center{
    size: 1px;
    color: black;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}
.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

a {
    /*float: left;*/
    /*background: #0b0518;*/
    /*padding: 10px 15px;*/
    /*!*color: #fff;*!*/
    /*border-radius: 5px;*/
    /*margin-right: 10px;*/
    /*border: none;*/
    /*text-decoration: none;*/
}
input:hover{
    opacity: .7;
}

